// Colors
$primary-bg-color: #ffffff;
$secondary-bg-color: #fffbf3;
$primary-text-color: #667085;
$secondary-text-color: #3c3c3c;
$accent-color: #ffc12f;
$white: #ffffff;
$black: #000000;

// Mixins min-width
// $mobile-bp: 480px;
// $fablet-bp: 576px;
// $tablet-bp: 768px;
// $netbook-bp: 992px;
// $desktop-bp: 1200px;

// Mixins max-width
$mobile-bp: 575px;
$fablet-bp: 767px;
$tablet-bp: 991px;
$desktop-bp: 1199px;
